---
import Main from "@/layouts/main.astro";

export const prerender = false;

const pages = [
  {
    slug: undefined,
    title: "Astro Store",
    text: "Welcome to the Astro store!",
  },
  {
    slug: "products",
    title: "Astro products",
    text: "We have lots of products for you",
  },
  {
    slug: "products/astro-handbook",
    title: "The ultimate Astro handbook",
    text: "If you want to learn Astro, you must read this book.",
  },
];

const { path } = Astro.params;

const page = pages.find((page) => page.slug === path);

if (!page) return Astro.redirect("/404");

const { title, text } = page;
---

<Main title={title}>
  <p>{text}</p>
</Main>
