---
import Main from "@/layouts/main.astro";
import { getCollection } from "astro:content";

const authors = await getCollection("authors");
---

<Main title="Authors">
  <ul>
    {
      authors.map((author) => (
        <li>
          <a href={`/authors/${author.data.slug}`}>{author.data.name}</a>
        </li>
      ))
    }
  </ul>
</Main>
