---
import Main from "../../layouts/main.astro";
import { getCollection } from "astro:content";

const pageTitle = 'Tags'

const posts = await getCollection('blog')
const tags = [...new Set(posts.flatMap(post => post.data.tags))]
---

<Main title={pageTitle}>
  <ul class="tags">
    {tags.map(tag => (
      <li>
        <a class="tag" href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))}
  </ul>
</Main>

<style>
  a {
    display: block;
    color: #00539F;
  }

  .tags {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>