---
import Greeting from "@/components/greeting";
import Video from "@/components/Video.astro";
import Main from "@/layouts/main.astro";
import { getCollection } from "astro:content";

const pageTitle = "Tags";

const posts = await getCollection("blog");
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
const messages = ["Hello", "Hi", "Hey", "Howdy", "Greetings", "Welcome"];
---

<Main title={pageTitle}>
  <ul class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <li>
          <a
            class="block rounded-md border border-gray-300 px-2 py-1"
            href={`/tags/${tag}`}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>

  <Greeting transition:animate="slide" client:load messages={messages} />

  <Video />
</Main>

<script is:inline data-astro-rerun>
  import { prefetch } from "astro:prefetch";

  document.addEventListener("DOMContentLoaded", () => {
    prefetch("/about", {
      ignoreSlowConnection: true,
    });
  });

  document.addEventListener("astro:before-preparation", (e) => {
    const originalLoader = e.loader;

    e.loader = async function () {
      await originalLoader();
    };
  });
</script>
