---
import Main from "@/layouts/main.astro";

const pageTitle = "500";
---

<Main title={pageTitle}>
  <h1>500 Internal Server Error</h1>
  <p>The server encountered an error while processing your request.</p>
  <a href="/">Go to Home</a>
</Main>
