---
import Main from "../layouts/main.astro";
import BlogPost from "../components/blog.astro";

const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))

const pageTitle = 'My Astro Learning Blog';
---

<Main title={pageTitle}>
  <ul>
    {posts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</Main>