---
import Component from "@/Component.astro";
import Greeting from "@/components/greeting";
import Video from "@/components/Video.astro";
import Main from "@/layouts/main.astro";

import { PUBLIC_API_URL } from "astro:env/client";
// import { getSecret } from "astro:env/server";

const pageTitle = "Home Page";
const messages = ["Hello", "Hi", "Hey", "Howdy", "Greetings", "Welcome"];

console.log(PUBLIC_API_URL);
// console.log(getSecret("SECRET"));
---

<Main title={pageTitle}>
  <h3>PRIVATE INFO</h3>
  <Component />
  <h2 transition:name="title">This is a simple Astro site.</h2>
  <Greeting
    transition:persist="greeting"
    transition:persist-props
    transition:animate="slide"
    client:load
    messages={messages}
  />
  <Video />
</Main>
