---
import Greeting from "../components/greeting";
import Main from "../layouts/main.astro";

const pageTitle = 'Home Page'
const messages = ['Hello', 'Hi', 'Hey', 'Howdy', 'Greetings', 'Welcome']
---

<Main title={pageTitle}>
  <h2>This is a simple Astro site.</h2>
  <Greeting client:load messages={messages} />
</Main>
