---
import Social from "./social.astro";

const links = [
  {
    platform: "github.com",
    username: "danieledefoe",
    label: "GitHub",
  },
  {
    platform: "t.me",
    username: "nathanielyork",
    label: "Telegram",
  },
];
---

<footer class="mt-8 flex flex-col gap-4">
  <p>Learn more about me on</p>
  <ul class="flex flex-col gap-4">
    {
      links.map((link) => (
        <li>
          <Social {...link} />
        </li>
      ))
    }
  </ul>
</footer>
