---
import Social from "./social.astro";

const links = [
  {
    platform: "github.com",
    username: "danieledefoe",
    label: "GitHub",
  },
  {
    platform: "t.me",
    username: "nathanielyork",
    label: "Telegram",
  },
];
---

<footer>
  <p>Learn more about me on</p>
  <ul class="social-links">
    {
      links.map((link) => (
        <li>
          <Social {...link} />
        </li>
      ))
    }
  </ul>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
