<nav class="nav-links">
  <a data-astro-prefetch href="/">Home</a>
  <a data-astro-prefetch href="/about">About</a>
  <a data-astro-prefetch href="/blog">Blog</a>
  <a data-astro-prefetch data-astro-reload href="/tags">Tags</a>
</nav>
