---
interface Props {
  platform: string;
  username: string;
  label: string;
}

const { platform, username, label }: Props = Astro.props;
---

<a
  target="_blank"
  href={`https://${platform}/${username}`}
  class="rounded-md bg-purple-600 px-4 py-2 text-white"
>
  {label}
</a>
